body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, purple, --white);
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1 {
    text-align: center;
    color: #110b0b;
}

form {
    max-width: 400px;
    margin: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: white;
    color: green;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #eee;
}

select {
    appearance: none;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

select:focus {
    outline: none;
    border-color: #050a4f;
}

input:focus {
    outline: none;
    border-color: #08055b;
}
